* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;

    background: linear-gradient(lavenderblush, lavender);

    height: 100vh;

}

/* Center class for centering multiple elements easily   */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    height: 80vh;

    background-color: white;
}

h1, h2 {
    margin: 20px 0;
    text-align: center;
}

h2 {
    margin-top: 0;
}


input {
    width: 0;
    height: 0;
    visibility: hidden;
}

 /* Adjust margin due different img width and size */
img {
    width: 200px;

    /* Make images not draggable (from stackoverflow) */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#paper {
    width: 160px;
    height: 140px;
}

#scissors {
    margin-top: -30px;
}

.choices {
    display: flex;
    justify-content: space-around;
}



