* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;

    background: linear-gradient(rgb(255, 201, 219), rgb(200, 200, 238));

    height: 100vh;

}

/* Center class for centering multiple elements easily   */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px;

    width: 80vw;
    min-height: 0vh;
    max-height: 100vh;

    border-radius: 25px;
    box-shadow: 15px 15px grey;

    background-color: white;
}

h1, h2 {
    margin: 20px 0;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

h5 {
    text-align: center;
    margin: 20px 0 0 0;
}


input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.score-number {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

/* Adjust margin due different img width and size */
img {
    width: 200px;

    /* Make images not draggable (from stackoverflow) */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: transform 0.4s;
}

img:hover {
    transform: translateY(-25px);
}

#paper {
    width: 160px;
    height: 140px;
}

#scissors {
    margin-top: -30px;
}

.choices {
    display: flex;
    justify-content: space-around;
}

h3 {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 14px;
    }
    
    img {
        width: 100px;
        transition: 0.2s;
    }

    img:hover {
        transform: translateY(-14px);
    }       

    #paper {
        width: 80px;
        height: 70px;
    }
    
    #scissors {
    margin-top: -15px;
    }

    .playingText {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }
    

    .playingText {
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 10px;
    }
    
    img {
        width: 70px;
    }

    #paper {
        width: 60px;
        height: 50px;
    }
    
    #scissors {
    margin-top: -10px;
    }
}


